[
  {
    "scope": "http://google.com:80",
    "method": "POST",
    "path": "/_api/contextinfo",
    "body": "",
    "status": 404,
    "response": "<!DOCTYPE html>\n<html lang=en>\n  <meta charset=utf-8>\n  <meta name=viewport content=\"initial-scale=1, minimum-scale=1, width=device-width\">\n  <title>Error 404 (Not Found)!!1</title>\n  <style>\n    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}\n  </style>\n  <a href=//www.google.com/><span id=logo aria-label=Google></span></a>\n  <p><b>404.</b> <ins>That’s an error.</ins>\n  <p>The requested URL <code>/_api/contextinfo</code> was not found on this server.  <ins>That’s all we know.</ins>\n",
    "rawHeaders": [
      "content-type",
      "text/html; charset=UTF-8"
    ]
  },
[...]
  {
    "scope": "http://mysharepointfarm:80",
    "method": "POST",
    "path": "/_api/contextinfo",
    "body": "",
    "status": 200,
    "response": {
      "d": {
        "GetContextWebInformation": {
          "__metadata": {
            "type": "SP.ContextWebInformation"
          },
          "FormDigestTimeoutSeconds": 1800,
          "FormDigestValue": "0x12345,{{{currentDate}}}",
          "LibraryVersion": "15.0.4841.1000",
          "SiteFullUrl": "{{{valid.url}}}",
          "SupportedSchemaVersions": {
            "__metadata": {
              "type": "Collection(Edm.String)"
            },
            "results": [
              "14.0.0.0",
              "15.0.0.0"
            ]
          },
          "WebFullUrl": "{{{valid.url}}}"
        }
      }
    },
    "rawHeaders": [
      "content-type",
      "application/json;odata=verbose;charset=utf-8",
      "x-sharepointhealthscore",
      "0",
      "spclientservicerequestduration",
      "4",
      "sprequestguid",
      "b1c8d19d-0f46-b05e-6d1f-c2c5865fb4a1",
      "persistent-auth",
      "true",
      "microsoftsharepointteamservices",
      "15.0.0.4797",
      "x-ms-invokeapp",
      "1; RequireReadOnly"
    ]
  }
]